body{
    margin: 0;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: white;
    background-image: url(css/imagens/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerda-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direita-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    box-shadow: 0px 10px 40px #00000059;
    border-radius: 15px;
}

.card-login > h1 {
    color: black;
    font-family: raleway;
    font-weight: 800;
    margin: 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

 input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    border: solid 1px #00000031;
    font-family: raleway;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

label{
    color: #565656dd;
    font-family: raleway;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 20px;
}

#entrar{
    background-color: #E73030;
    color: white;
    font-family: raleway;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 30px;
}

#entrar:hover{
    background-color: #ff4c4c;
    transition-duration: 0.2s;
}

.cadastrar{
    text-decoration: none;
    font-family: raleway;
    font-weight: 400;
    font-size: 14px;
    margin-top: 14px;
    color: #565656dd;
    margin-bottom: 20px;
    margin-left: 2px;
}

.cadastrar:hover {
    color: #E73030;
  }


h3{
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;
    color: rgb(4, 177, 4);
    margin: 0;
    margin-top: 10px;
    margin-left: 2px;   
}


#erro{
    font-family: raleway;
    font-weight: 500;
    font-size: 16px;
    color: #ff4c4c;
    margin: 0;
    margin-top: 10px;
    margin-left: 2px;
}